.container{
	padding: 10px;
	margin-top: 10px;
	background: #eee;
}
.content{
	margin-left: 20px;
}

.ParticipantNumber{
	background: #fff;
	width: 191px;
	height: 276px;
	
}

.CriticalRecall{
	background: #fff;
	width: 187px;
	height: 194px;
	margin-top: 5px;
}
.left,.middle,.right,.button-play,.button-ok{
	float: left;
}
#button-ok{
	width: 80px;
	line-height: 10px;
	margin-right: 10px;
	background-color: #2f81fe;
	border:none;
}
.warp{
	width: 650px;
	height: auto;
	padding: 10px;
	float: left;
	margin-right: 30px;
	border: 1px #acabab solid;
	box-shadow: 0 0 2px #acabab;
}
.right{
	border: 1px #acabab solid;
	padding: 10px;
	width: 460px;
	height: auto;
	box-shadow: 0 0 2px #acabab;
}
.show-res{
	width: 440px;
	height: 320px;
	background: #fff;
}
.GroupDescriptives{
	width: 440px;
	height: 220px;
	margin-bottom: 50px;
	background: #fff;
}
.title{
	font-weight: bold;
	margin-top: 10px;
}

.item{
	text-indent: 0.6rem;
}